 body {
      background: #111;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    h1 {
      font-size: 3em;
      font-family: sans-serif;
      background: linear-gradient(to left, #ff0000 0%, #00ff00 50%, #0000ff 100%);
      background-size: 200% 100%;
      background-position: 0% 0%;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: pintarTexto 3s linear forwards;
    }

    @keyframes pintarTexto {
      from {
        background-position: 0% 0%;
      }
      to {
        background-position: 100% 0%;
      }
    }